/* ********** FONTS ********** */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Shrikhand;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Shrikhand-Regular"), url("../fonts/Shrikhand-Regular.woff2") format("woff2");
}
/* ********** RESET ********** */
body,
h1,
h2,
h3,
ul,
ol,
figure,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ********** HEADER ********** */
header {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  z-index: 10;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
header .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
}
header img {
  width: 162px;
}

/* ********** MAIN ********** */
.btn {
  display: block;
  margin: 30px auto;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  width: 200px;
  font-weight: bold;
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  opacity: 0.9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.fa-heart {
  position: absolute;
  z-index: 100;
  font-size: 1.35rem;
  cursor: pointer;
}

/* ********** FOOTER ********** */
footer {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 25px;
  background-color: #353535;
  color: #FFF;
}
footer h3 {
  font-family: Shrikhand, serif;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ********** FORM ********** */
form {
  display: flex;
  place-content: center;
  place-items: center;
  gap: 10px;
  position: relative;
  height: 50px;
  background-color: #EAEAEA;
  color: #353535;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
form label,
form input {
  position: relative;
  left: 10px;
}
form input {
  border: none;
  width: 130px;
  font-size: 1rem;
  background-color: #EAEAEA;
  color: #353535;
}

/* ********** INTRO ********** */
hgroup {
  padding: 40px 20px 10px;
  text-align: center;
  background-color: #F6F6F6;
}
hgroup h1 {
  margin: 0 auto 10px;
  width: 280px;
  font-size: 1.5rem;
}
hgroup p {
  margin: auto;
  width: 310px;
  font-size: 1.1rem;
  color: #353535;
}
hgroup a {
  font-size: 1rem;
}

/* ********** FUNCTIONING ********** */
section {
  padding: 50px 20px;
}
section ol {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  margin: 20px 0;
  padding: 10px;
  counter-reset: li;
}
section li {
  display: flex;
  place-items: center;
  gap: 20px;
  position: relative;
  border-radius: 20px;
  padding: 30px 40px;
  width: 100%;
  background: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
section li::before {
  display: flex;
  place-content: center;
  place-items: center;
  position: absolute;
  left: -12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  counter-increment: li;
  content: counters(li, ".") "";
  background: #9356DC;
  color: white;
}
section li i {
  color: #7E7E7E;
}
section li:hover i, section li:focus i {
  color: #9356DC;
}

/* ********** RESTAURANTS ********** */
article {
  padding: 50px 20px;
  background-color: #F6F6F6;
}
article ul {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  padding: 20px 0;
}
article li {
  width: 100%;
}
article figure {
  position: relative;
}
article b {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 2px;
  padding: 7px 9px;
  background-color: #99E2D0;
  color: #008766;
}
article img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
}
article figcaption {
  display: flex;
  flex-flow: column;
  gap: 5px;
  position: relative;
  margin-top: -5px;
  border-radius: 0 0 15px 15px;
  padding: 15px;
  background-color: #FFF;
}
article .fa-heart {
  top: 20px;
  right: 20px;
}

/*# sourceMappingURL=home.css.map */
