/* ********** FONT-FACE ********** */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Shrikhand;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Shrikhand-Regular"), url("../fonts/Shrikhand-Regular.woff2") format("woff2");
}
/* ********** RESET ********** */
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
ul,
ol,
figure,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ********** HEADER ********** */
header {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  z-index: 10;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
header .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
}
header img {
  width: 162px;
}

/* ********** MAIN ********** */
.btn {
  display: block;
  margin: 30px auto;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  width: 200px;
  font-weight: bold;
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  opacity: 0.9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.fa-heart {
  position: absolute;
  z-index: 100;
  font-size: 1.35rem;
  cursor: pointer;
}

/* ********** FOOTER ********** */
footer {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 25px;
  background-color: #353535;
  color: #FFF;
}
footer h3 {
  font-family: Shrikhand, serif;
}
footer ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

/* ********** TABLET ********** */
@media (min-width: 48rem) {
  footer {
    flex-flow: row-reverse;
    box-sizing: border-box;
    padding: 20px 50px;
    height: 114px;
  }
  footer ul {
    flex-flow: column wrap;
    width: 100%;
  }
  footer li:nth-child(2) {
    margin-right: 40px;
  }
}
/* ********** DESKTOP ********** */
@media (min-width: 64rem) {
  footer {
    gap: 80px;
  }
  footer ul {
    flex-flow: row;
    place-content: flex-end;
  }
}
/* ********** KEYFRAMES ********** */
@keyframes cover {
  0% {
    width: 100%;
    height: 100%;
  }
  80% {
    height: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes rotate {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ********** LOADER ********** */
div {
  position: fixed;
  z-index: 1000;
  width: 0%;
  height: 0%;
  background-color: #353535;
  animation: cover 3s;
}
div [class*=fa-stack] {
  top: calc(50% - 160px);
  left: calc(50% - 200px);
  opacity: 0;
  color: #99E2D0;
  animation: rotate 3s linear;
}

/* ********** FORM ********** */
form {
  display: flex;
  place-content: center;
  place-items: center;
  gap: 10px;
  position: relative;
  height: 50px;
  background-color: #EAEAEA;
  color: #353535;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
form label,
form input {
  position: relative;
  left: 10px;
}
form input {
  border: none;
  width: 130px;
  font-size: 1rem;
  background-color: #EAEAEA;
  color: #353535;
}

/* ********** INTRO ********** */
hgroup {
  padding: 40px 20px 10px;
  text-align: center;
  background-color: #F6F6F6;
}
hgroup h1 {
  margin: 0 auto 10px;
  width: 280px;
  font-size: 1.5rem;
}
hgroup p {
  margin: auto;
  width: 310px;
  font-size: 1.1rem;
  color: #353535;
}
hgroup a {
  font-size: 1rem;
}

/* ********** FUNCTIONING ********** */
section {
  padding: 50px 20px;
}
section ol {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  margin: 20px 0;
  padding: 10px;
  counter-reset: li;
}
section li {
  display: flex;
  place-items: center;
  gap: 20px;
  position: relative;
  border-radius: 20px;
  padding: 30px 40px;
  width: 100%;
  background: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
section li::before {
  display: flex;
  place-content: center;
  place-items: center;
  position: absolute;
  left: -12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  counter-increment: li;
  content: counters(li, ".") "";
  background: #9356DC;
  color: white;
}
section li i {
  color: #7E7E7E;
}
section li:hover i, section li:focus i {
  color: #9356DC;
}

/* ********** RESTAURANTS ********** */
article {
  padding: 50px 20px;
  background-color: #F6F6F6;
}
article ul {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  padding: 20px 0;
}
article li {
  width: 100%;
}
article figure {
  position: relative;
}
article b {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 2px;
  padding: 7px 9px;
  background-color: #99E2D0;
  color: #008766;
}
article img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
}
article figcaption {
  display: flex;
  flex-flow: column;
  gap: 5px;
  position: relative;
  margin-top: -5px;
  border-radius: 0 0 15px 15px;
  padding: 15px;
  background-color: #FFF;
}
article .fa-heart {
  top: 20px;
  right: 20px;
}

/* ********** TABLET ********** */
@media (min-width: 48rem) {
  hgroup {
    padding: 40px 50px 10px;
  }
  hgroup h1 {
    font-size: 2rem;
  }
  hgroup h1,
  hgroup p {
    width: fit-content;
  }
  section {
    padding: 50px;
  }
  article {
    padding: 50px;
  }
  article ul {
    gap: 50px;
  }
  article li {
    width: calc((100% - 50px) / 2);
  }
}
/* ********** DESKTOP ********** */
@media (min-width: 64rem) {
  hgroup h1 {
    font-size: 2.5rem;
  }
  section {
    margin: auto;
    max-width: 1080px;
  }
  section ol {
    flex-flow: nowrap;
  }
  article h2,
  article ul {
    margin: auto;
    max-width: 1080px;
  }
}

/*# sourceMappingURL=home.css.map */
