/* ********** FONT-FACE ********** */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Shrikhand;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Shrikhand-Regular"), url("../fonts/Shrikhand-Regular.woff2") format("woff2");
}
/* ********** RESET ********** */
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
ul,
ol,
figure,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ********** HEADER ********** */
header {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  z-index: 10;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
header .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
}
header img {
  width: 162px;
}

/* ********** MAIN ********** */
.btn {
  display: block;
  margin: 30px auto;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  width: 200px;
  font-weight: bold;
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  opacity: 0.9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.heart {
  border: none;
  background-color: #F6F6F6;
  padding: 0;
  font-size: x-large;
}
.heart .fa-heart {
  position: absolute;
  z-index: 100;
  font-size: 1.35rem;
  cursor: pointer;
}
.heart .fa-heart::before {
  content: "\f004";
}
.heart .fa-regular {
  opacity: 1;
}
.heart .fa-solid {
  opacity: 0;
  transition-duration: 2500ms;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* ********** FOOTER ********** */
footer {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 25px;
  background-color: #353535;
  color: #FFF;
}
footer h3 {
  font-family: Shrikhand, serif;
}
footer ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

/* ********** TABLET ********** */
@media (min-width: 48rem) {
  footer {
    flex-flow: row-reverse;
    box-sizing: border-box;
    padding: 20px 50px;
    height: 114px;
  }
  footer ul {
    flex-flow: column wrap;
    width: 100%;
  }
  footer li:nth-child(2) {
    margin-right: 40px;
  }
}
/* ********** DESKTOP ********** */
@media (min-width: 64rem) {
  footer {
    gap: 80px;
  }
  footer ul {
    flex-flow: row;
    place-content: flex-end;
  }
}
/* ********** KEYFRAMES ********** */
@keyframes translate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
/* ********** MAIN ********** */
main img {
  width: 100%;
  height: 275px;
  object-position: 50% 60%;
}

/* ********** INTRO ********** */
article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
  background-color: #F6F6F6;
}
article > hgroup {
  position: relative;
}
article > hgroup h1 {
  position: relative;
  z-index: 10;
  margin-top: -40px;
  border-radius: 35px 35px 0 0;
  padding: 35px 15px 0;
  font-family: Shrikhand, serif;
  font-size: 1.7rem;
  background-color: #F6F6F6;
}
article > hgroup .fa-heart {
  right: 40px;
  bottom: 10px;
}

/* ********** MENU ********** */
section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;
}
section:nth-child(2) {
  animation: translate 1s;
}
section:nth-child(3) {
  animation: translate 2s;
}
section:nth-child(4) {
  animation: translate 3s;
}
section h2 {
  font-size: 1rem;
  text-transform: uppercase;
}
section div {
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
section ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section li {
  display: flex;
  place-content: space-between;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 15px;
  height: 69px;
  background-color: #FFF;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
section hgroup,
section hgroup h3,
section hgroup p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section hgroup {
  padding: 10px 20px;
}
section hgroup h3 {
  margin-bottom: 5px;
  font-size: 1.125rem;
}
section hgroup p {
  font-size: 0.9rem;
}
section span {
  display: flex;
  gap: 20px;
  transform: translateX(70px);
  transition: transform 700ms;
}
section b {
  place-self: flex-end;
  position: relative;
  bottom: 13px;
}
section .fa-circle-check {
  display: flex;
  place-items: center;
  padding: 0 20px;
  height: 100%;
  transform: translateX(70px);
  background-color: #99E2D0;
  color: #FFF;
  transition: transform 700ms;
}
section li:hover span,
section li:focus span,
section li:hover .fa-circle-check,
section li:focus .fa-circle-check {
  transform: translateX(0);
}

/* ********** TABLET ********** */
@media (min-width: 48rem) {
  article > hgroup {
    text-align: center;
  }
  .heart .fa-heart {
    position: relative;
    top: -35px;
    left: 170px;
  }
  section {
    margin: auto;
    width: 634px;
  }
}
/* ********** DESKTOP ********** */
@media (min-width: 64rem) {
  main {
    background-color: #FFF;
  }
  article {
    margin: auto;
    max-width: 1080px;
    background-color: #F6F6F6;
  }
}

/*# sourceMappingURL=menus.css.map */
