hgroup {
  padding: 40px 20px 10px;
  text-align: center;
  background-color: $silver;

  h1 {
    margin: 0 auto 10px;
    width: 280px;
    font-size: 1.5rem;
  }

  p {
    margin: auto;
    width: 310px;
    font-size: 1.1rem;
    color: $slate;
  }

  a {
    font-size: 1rem;
  }
}

/* ********** TABLET ********** */

@media (min-width: $md) {
  hgroup {
    padding: 40px 50px 10px;

    h1,
    p {
      width: fit-content;
    }
  }

  h1 {
    font-size: 2rem;
  }
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  h1 {
    font-size: 2.5rem;
  }
}
