.btn {
  display: block;
  margin: 30px auto;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  width: 200px;
  font-weight: bold;
  background-image: linear-gradient(180deg, $secondary 0%, $primary 100%);
  color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.heart {
  border: none;
  background-color: $silver;
  padding: 0;

  .fa-heart {
    position: absolute;
    z-index: 100;
    font-size: 1.35rem;
    cursor: pointer;

    &::before {
      content: "\f004";
    }
  }

  .fa-regular {
    opacity: 1;
  }

  .fa-solid {
    opacity: 0;
    transition-duration: 2s;
    background-image: linear-gradient(to bottom, $secondary, $primary 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
