/* ********** TABLET ********** */

@media (min-width: $md) {
  footer {
    flex-flow: row-reverse;
    box-sizing: border-box;
    padding: 20px 50px;
    height: 114px;

    ul {
      flex-flow: column wrap;
      width: 100%;
    }

    li:nth-child(2) {
      margin-right: 40px;
    }
  }
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  footer {
    gap: 80px;

    ul {
      flex-flow: row;
      place-content: flex-end;
    }
  }
}
