/* ********** TABLET ********** */

@media (min-width: $md) {
  hgroup {
    padding: 40px 50px 10px;

    h1,
    p {
      width: fit-content;
    }
  }

  h1 {
    font-size: 2rem;
  }

  section {
    padding: 50px;
  }

  article {
    padding: 50px;
  }

  ul {
    gap: 50px;

    li {
      width: calc((100% - 50px) / 2);
    }
  }
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  h1 {
    font-size: 2.5rem;
  }

  section {
    margin: auto;
    max-width: 1080px;
  }

  ol {
    flex-flow: nowrap;
  }

  h2,
  ul {
    margin: auto;
    max-width: 1080px;
  }
}
