/* ********** FONTS ********** */

@each $font-family in $font-families {
  @include font-face($font-family);
}

/* ********** RESET ********** */

body,
h1,
h2,
h3,
ul,
ol,
figure,
p {
  margin: 0;
}

body {
  font-family: $sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ********** HEADER ********** */

header {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  z-index: 10;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  .fa-arrow-left {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  img {
    width: 162px;
  }
}

/* ********** MAIN ********** */

.btn {
  display: block;
  margin: 30px auto;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  width: 200px;
  font-weight: bold;
  background-image: linear-gradient(180deg, $secondary 0%, $primary 100%);
  color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.fa-heart {
  position: absolute;
  z-index: 100;
  font-size: 1.35rem;
  cursor: pointer;
}

/* ********** FOOTER ********** */

footer {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 25px;
  background-color: $slate;
  color: $white;

  h3 {
    font-family: $serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
