// ********** BREAKPOINTS **********

$md: 48rem;
$lg: 64rem;

$breakpoints: (
  "md": $md,
  "lg": $lg
) !default;

/* ********** FONTS ********** */

$font-families: Roboto, Shrikhand;

@mixin font-face($font-family) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("#{$font-family}-Regular"),
      url("../fonts/#{$font-family}-Regular.woff2") format("woff2");
  }
}

@each $font-family in $font-families {
  @include font-face($font-family);
}

$sans-serif: Roboto, sans-serif;
$serif: Shrikhand, serif;

// ********** COLORS **********

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$fourth: #008766;

$white: #FFF;
$silver: #F6F6F6;
$gray: #EAEAEA;
$slate: #353535;
$black: #000;

/* ********** RESET ********** */

body,
ul,
figure {
  margin: 0;
}

body {
  font-family: $sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ********** HEADER ********** */

header {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  z-index: 10;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  .fa-arrow-left {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  img {
    width: 162px;
  }
}

/* ********** MAIN ********** */

.btn {
  display: inline-block;
  margin: 30px auto;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  font-weight: bold;
  background-image: linear-gradient(180deg, $secondary 0%, $primary 100%);
  color: $white;
}

/* ********** FOOTER ********** */

footer {
  padding: 25px;
  background-color: $slate;
  color: $white;

  h3 {
    font-family: $serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
