/* ********** KEYFRAMES ********** */

@keyframes translate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* ********** MAIN ********** */

main {
  img {
    width: 100%;
    height: 275px;
    object-position: 50% 60%;
  }
}

/* ********** INTRO ********** */

article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
  background-color: $silver;

  & > hgroup {
    position: relative;

    h1 {
      position: relative;
      z-index: 10;
      margin-top: -40px;
      border-radius: 35px 35px 0 0;
      padding: 35px 15px 0;
      font-family: $serif;
      font-size: 1.7rem;
      background-color: $silver;
    }

    .fa-heart {
      right: 40px;
      bottom: 10px;
    }
  }
}

/* ********** MENU ********** */

section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;

  &:nth-child(2) {
    animation: translate 1s;
  }

  &:nth-child(3) {
    animation: translate 2s;
  }

  &:nth-child(4) {
    animation: translate 3s;
  }

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  div {
    margin-top: 5px;
    width: 40px;
    height: 3px;
    background-color: $tertiary;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  li {
    display: flex;
    place-content: space-between;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 15px;
    height: 69px;
    background-color: $white;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  hgroup,
  hgroup h3,
  hgroup p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  hgroup {
    padding: 10px 20px;

    h3 {
      margin-bottom: 5px;
      font-size: 1.125rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  span {
    display: flex;
    gap: 20px;
    transform: translateX(70px);
    transition: transform 700ms;
  }

  b {
    place-self: flex-end;
    position: relative;
    bottom: 13px;
  }

  .fa-circle-check {
    display: flex;
    place-items: center;
    padding: 0 20px;
    height: 100%;
    transform: translateX(70px);
    background-color: $tertiary;
    color: $white;
    transition: transform 700ms;
  }

  li:hover span,
  li:focus span,
  li:hover .fa-circle-check,
  li:focus .fa-circle-check {
    transform: translateX(0);
  }
}

/* ********** TABLET ********** */

@media (min-width: $md) {
  article > hgroup {
    text-align: center;
  }

  .fa-heart {
    position: relative;
    top: -31px;
    left: 155px;
  }

  section {
    margin: auto;
    width: 634px;
  }
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  main {
    background-color: $white;
  }

  article {
    margin: auto;
    max-width: 1080px;
    background-color: $silver;
  }
}
