/* ********** MAIN ********** */

main {
  img {
    width: 100%;
    height: 275px;
    object-position: 50% 60%;
  }
}

/* ********** INTRO ********** */

hgroup {
  position: relative;

  h1 {
    position: relative;
    z-index: 10;
    margin-top: -40px;
    border-radius: 35px 35px 0 0;
    padding: 35px 15px 0;
    font-family: $serif;
    font-size: 1.7rem;
    background-color: $silver;
  }

  .fa-heart {
    right: 40px;
    bottom: 10px;
  }
}

/* ********** MENU ********** */

article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
  background-color: $silver;

  section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 10px;
  }

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  div {
    margin-top: 5px;
    width: 40px;
    height: 3px;
    background-color: $tertiary;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  li {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px 20px;
    height: 69px;
    background-color: $white;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 1.125rem;
  }

  p {
    font-size: 0.9rem;
  }

  b {
    display: flex;
    place-content: flex-end;
    position: relative;
    bottom: 18px;
  }

  .fa-circle-check {
    position: absolute;
    z-index: 1;
    top: 10%;
    right: -65px;
    padding: 30px 20px;
    background-color: $tertiary;
    color: $white;
  }
}

/* ********** TABLET ********** */

@media (min-width: $md) {
  hgroup {
    text-align: center;
  }

  .fa-heart {
    position: relative;
    top: -31px;
    left: 155px;
  }

  section {
    margin: auto;
    width: 634px;
  }

  
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  main {
    background-color: $white;
  }

  article {
    margin: auto;
    max-width: 1080px;
    background-color: $silver;
  }
}
