article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
  background-color: $silver;

  & > hgroup {
    position: relative;

    h1 {
      position: relative;
      z-index: 10;
      margin-top: -40px;
      border-radius: 35px 35px 0 0;
      padding: 35px 15px 0;
      font-family: $serif;
      font-size: 1.7rem;
      background-color: $silver;
    }

    .fa-heart {
      top: 5px;
      right: 40px;
    }
  }
}

/* ********** TABLET ********** */

@media (min-width: $md) {
  article > hgroup {
    text-align: center;
  }

  .heart .fa-heart {
    position: relative;
    top: -31px;
  }

  .fa-solid.fa-heart {
    left: 170px;
  }

  .fa-regular.fa-heart {
    left: 195px;
  }
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  article {
    margin: auto;
    max-width: 1080px;
    background-color: $silver;
  }
}
