/* ********** TABLET ********** */

@media (min-width: $md) {
  article > hgroup {
    text-align: center;
  }

  .heart .fa-heart {
    position: relative;
    top: -31px;
  }

  .fa-solid.fa-heart {
    left: 170px;
  }

  .fa-regular.fa-heart {
    left: 195px;
  }

  section {
    margin: auto;
    width: 634px;
  }
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  main {
    background-color: $white;
  }

  article {
    margin: auto;
    max-width: 1080px;
    background-color: $silver;
  }
}
