footer {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 25px;
  background-color: $slate;
  color: $white;

  h3 {
    font-family: $serif;
  }

  ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }
}

/* ********** TABLET ********** */

@media (min-width: $md) {
  footer {
    flex-flow: row-reverse;
    place-items: center;
    padding: 20px 50px;

    ul {
      width: 100%;
    }
  }
}

/* ********** DESKTOP ********** */

@media (min-width: $lg) {
  footer {
    gap: 80px;

    ul {
      flex-flow: row;
      place-content: flex-end;
    }

    li:nth-child(2) {
      margin-right: 40px;
    }
  }
}
