footer {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 25px;
  background-color: $slate;
  color: $white;

  h3 {
    font-family: $serif;
  }

  ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }
}
