// ********** BREAKPOINTS **********

$md: 48rem;
$lg: 64rem;

// ********** FONTS **********

$font-families: Roboto, Shrikhand;
$sans-serif:    Roboto, sans-serif;
$serif:         Shrikhand, serif;

// ********** COLORS **********

$primary:     hsl(267,  66%, 60%);
$secondary:   hsl(317, 100%, 74%);
$tertiary:    hsl(165,  56%, 79%);
$quaternary:  hsl(165, 100%, 21%);

$white:     hsl(0, 0%, 100%);
$silver:    hsl(0, 0%,  97%);
$lightgrey: hsl(0, 0%,  92%);
$darkgray:  hsl(0, 0%,  49%);
$slate:     hsl(0, 0%,  21%);
$black:     hsl(0, 0%,   0%);
